<header>
    <h1>Web Pribadi nama anda</h1>
    <nav>
        <ul>
            <li><a href="8index.php">Index</a></li>
            <li><a href="8profile.php">Profil</a></li>
            <li><a href="8buku-tamu.php">Buku Tamu</a></li>
        </ul>
    </nav>
</header>